<?xml version="1.0" encoding="UTF-8"?>
<Settings>
  <Connection>
    <ServerName>10.7.12.21</ServerName>
    <BaseName>Panning</BaseName>
    <UserName>BDRT-RUSSIA\vladimir.zhuravlev</UserName>
    <Password>
    </Password>
    <LastLogin>
    </LastLogin>
  </Connection>
  <ReportTemplate>
    <ShipmentTemplate>C:\Planning\Reports\ЛистОтгрузки.xltx</ShipmentTemplate>
    <ReceiptTemplate>C:\Planning\Reports\ЛистПрихода.xltx</ReceiptTemplate>
    <PeriodTemplate>C:\Planning\Reports\ОтчетЗаПериод.xltx</PeriodTemplate>
  </ReportTemplate>
  <View>
    <HideColumns>colIdNakl,colKlientId,colDoneShare,colCopmletePct,PrcValue,colComment,colOrderComment,colGate,colSpecCond,colDriverPhone,colDriverName,colTransportType,colTrackNumber,colTrailerNumber,colAttorneyNumber,colAttorneyDate,colDelayReason,colDelayComment,colDepositor,colStampNumber,FontColor,BackgroundColor,colOrdLvId,olvRowNumberRange</HideColumns>
    <ActionFilter>вход,выход</ActionFilter>
    <ShipmentColumns>
      <ShipmentColumns>
        <Id>UniqueKey</Id>
        <Order>22</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colId</Id>
        <Order>1</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colIdNakl</Id>
        <Order>2</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDate</Id>
        <Order>3</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colTime</Id>
        <Order>4</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDirection</Id>
        <Order>5</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colOrderId</Id>
        <Order>6</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colOrderType</Id>
        <Order>5</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colKlientId</Id>
        <Order>9</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colKlientName</Id>
        <Order>10</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colStatus</Id>
        <Order>11</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colCopmletePct</Id>
        <Order>13</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>PrcValue</Id>
        <Order>15</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDoneShare</Id>
        <Order>16</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colComment</Id>
        <Order>17</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colOrderComment</Id>
        <Order>18</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colGate</Id>
        <Order>19</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colSpecCond</Id>
        <Order>20</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDriverPhone</Id>
        <Order>23</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDriverName</Id>
        <Order>25</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colTransComp</Id>
        <Order>27</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colTransportType</Id>
        <Order>28</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colTrackNumber</Id>
        <Order>29</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colTrailerNumber</Id>
        <Order>30</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colAttorneyNumber</Id>
        <Order>18</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colAttorneyDate</Id>
        <Order>32</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colSubmissionTime</Id>
        <Order>33</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colStartTime</Id>
        <Order>34</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colEndTimePlan</Id>
        <Order>35</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colEndTimeFact</Id>
        <Order>36</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDelayReason</Id>
        <Order>37</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDelayComment</Id>
        <Order>38</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDepositor</Id>
        <Order>39</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colStampNumber</Id>
        <Order>40</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>FontColor</Id>
        <Order>41</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>BackgroundColor</Id>
        <Order>42</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>IsAddLv</Id>
        <Order>21</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colShippingPlacesNumber</Id>
        <Order>14</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colOrderWeight</Id>
        <Order>26</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colOrdPartLVCode</Id>
        <Order>7</Order>
        <Visible>True</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colIsEdm</Id>
        <Order>12</Order>
        <Visible>True</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colSupplier</Id>
        <Order>43</Order>
        <Visible>True</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colTransportView</Id>
        <Order>22</Order>
        <Visible>True</Visible>
      </ShipmentColumns>
    </ShipmentColumns>
    <WarehouseFilter>Чехов,Питер</WarehouseFilter>
  </View>
  <TaskUpdateInterval>10</TaskUpdateInterval>
  <TaskViewFonSize>20</TaskViewFonSize>
  <CurrentTaskColumns>
    <Column>
      <Id>colDate</Id>
      <Title>Дата</Title>
      <Visible>True</Visible>
      <Width>164</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colTime</Id>
      <Title>Время</Title>
      <Visible>True</Visible>
      <Width>131</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colOrderId</Id>
      <Title>Код заказа</Title>
      <Visible>True</Visible>
      <Width>138</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colKlient</Id>
      <Title>Клиент</Title>
      <Visible>True</Visible>
      <Width>248</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colStatus</Id>
      <Title>Статус</Title>
      <Visible>True</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colDonePrc</Id>
      <Title>Собран в (%)</Title>
      <Visible>True</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colAmountLine</Id>
      <Title>Кол-во линий</Title>
      <Visible>True</Visible>
      <Width>60</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colAmountPallet</Id>
      <Title>Кол-во паллет</Title>
      <Visible>True</Visible>
      <Width>58</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colAmountBox</Id>
      <Title>Кол-во коробов</Title>
      <Visible>True</Visible>
      <Width>56</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colAmountPieces</Id>
      <Title>Кол-во штук</Title>
      <Visible>True</Visible>
      <Width>54</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colShpComment</Id>
      <Title>Комментарии по загрузке</Title>
      <Visible>False</Visible>
      <Width>157</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colGateName</Id>
      <Title>Номер ворот</Title>
      <Visible>True</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colSubmissionTime</Id>
      <Title>Время подачи документов</Title>
      <Visible>False</Visible>
      <Width>121</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colStartTime</Id>
      <Title>Время начала</Title>
      <Visible>False</Visible>
      <Width>104</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colEndTimePlan</Id>
      <Title>Время окончания</Title>
      <Visible>False</Visible>
      <Width>92</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colEndTimeFact</Id>
      <Title>Убытие по факту</Title>
      <Visible>False</Visible>
      <Width>85</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
  </CurrentTaskColumns>
  <VolumeCalcTemplates>
    <Template>
      <Name>EuroPal</Name>
      <PalletWeight>25,0</PalletWeight>
      <PalletHeight>0,15</PalletHeight>
      <PalletVolume>0,14</PalletVolume>
      <PalleteDimensions>1,44</PalleteDimensions>
    </Template>
  </VolumeCalcTemplates>
  <VolumeCalcParams>
    <ImportStartRow>2</ImportStartRow>
    <ImportColVendorCode>1</ImportColVendorCode>
    <ImportColName>2</ImportColName>
    <ImportColAmount>3</ImportColAmount>
  </VolumeCalcParams>
  <Reports>
    <Report>
      <Id>1</Id>
      <Name>Лист отгрузки</Name>
      <TemplatePath>C:\Planning\Reports\ЛистОтгрузки.xltx</TemplatePath>
    </Report>
    <Report>
      <Id>2</Id>
      <Name>Лист прихода</Name>
      <TemplatePath>C:\Planning_test\Reports\ЛистПрихода.xltx</TemplatePath>
    </Report>
    <Report>
      <Id>3</Id>
      <Name>Отгрузки за период</Name>
      <TemplatePath>C:\Planning\Reports\ОтчетЗаПериод.xltx</TemplatePath>
    </Report>
    <Report>
      <Id>4</Id>
      <Name>Статистика за период</Name>
      <TemplatePath>C:\Planning\Reports\ОтчетСтатистикаЗаПериод.xltx</TemplatePath>
    </Report>
    <Report>
      <Id>5</Id>
      <Name>Отчет по ТС</Name>
      <TemplatePath>C:\Planning\Reports\ОтчетТС.xltx</TemplatePath>
    </Report>
  </Reports>
  <ShowOrderDetailColumn>True</ShowOrderDetailColumn>
  <DefaultWarehouseCode>999</DefaultWarehouseCode>
  <DefaultTransportViewCode>Truck</DefaultTransportViewCode>
</Settings>