USE [Planning_v2]
GO
/****** Object:  Trigger [dbo].[t_is_shipment_order_parts_log]    Script Date: 13.05.2026 10:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[t_is_shipment_order_parts_log] ON [dbo].[shipment_order_parts]
FOR INSERT, UPDATE, DELETE AS
declare
	@OperType CHAR ( 1 ),
	@sUser VARCHAR(128),
	@sHost VARCHAR(128),
	@sQuestion CHAR ( 3 )
BEGIN
Set @sQuestion = '???'
SET @OperType = ''

if (UPDATE(shipping_places_number) or UPDATE(order_part_weight))
begin
	return
end

 /* “ип операции DML */
 IF EXISTS ( SELECT * FROM deleted  ) AND EXISTS ( SELECT * FROM inserted  )
	BEGIN
		SET @OperType = 'U'
	END 
ELSE IF EXISTS ( SELECT * FROM deleted  ) 
	BEGIN
		SET @OperType = 'D'
	END 
ELSE IF EXISTS ( SELECT * FROM inserted  )
	BEGIN
		SET @OperType = 'I'
	END 

Set @sUser = SUBSTRING(SYSTEM_USER, 1, 128)
Set @sHost = SUBSTRING(HOST_NAME ( ), 1, 128)
 IF @sUser = '' 
	begin
		Set @sUser = @sQuestion 
	end
IF @sHost = ''
	begin
		Set @sHost = @sQuestion 
	end
 IF @OperType = 'I' OR @OperType = 'U'
	BEGIN
 	INSERT INTO shipment_order_parts_log
	( 	 
		[dml_type], [dml_date], [dml_user_name], [dml_comp_name], 
		[shipment_order_part_id], [sh_order_id], [os_lvid], [os_lvcode], [is_binding], 
		[manual_load], [manual_unload], [pallet_amount], 
		[shipping_places_number], [order_part_weight]
 	)
	SELECT 
		@OperType, CURRENT_TIMESTAMP, last_modify_user, @sHost,
		ins.id, ins.sh_order_id, ins.os_lvid, ins.os_lvcode, ins.is_binding, 
		ins.manual_load, ins.manual_unload, ins.pallet_amount, 
		
		ins.shipping_places_number, ins.order_part_weight
    FROM inserted ins
	
	END
ELSE
	BEGIN
 	INSERT INTO shipment_order_parts_log
	( 	 
		[dml_type], [dml_date], [dml_user_name], [dml_comp_name], 
		[shipment_order_part_id], [sh_order_id], [os_lvid], [os_lvcode], [is_binding], 
		[manual_load], [manual_unload], [pallet_amount], 
		[shipping_places_number], [order_part_weight]
 	)
	SELECT 
		@OperType, CURRENT_TIMESTAMP, last_modify_user, @sHost,
		ins.id, ins.sh_order_id, ins.os_lvid, ins.os_lvcode, ins.is_binding, 
		ins.manual_load, ins.manual_unload, ins.pallet_amount, 
		ins.shipping_places_number, ins.order_part_weight
    FROM deleted ins

	END
END
