USE [Planning_v2]
GO
/****** Object:  Trigger [dbo].[t_is_movement_item_log]    Script Date: 10.05.2026 21:26:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Version:	1.1
-- =============================================
ALTER TRIGGER [dbo].[t_is_movement_item_log] ON [dbo].[movement_item]
FOR INSERT, UPDATE, DELETE AS
declare
	@OperType CHAR ( 1 ),
	@sUser VARCHAR(128),
	@sHost VARCHAR(128),
	@sQuestion CHAR ( 3 )
BEGIN
Set @sQuestion = '???'
SET @OperType = ''

 IF EXISTS ( SELECT * FROM deleted  ) AND EXISTS ( SELECT * FROM inserted  )
	BEGIN
		SET @OperType = 'U'
	END 
ELSE IF EXISTS ( SELECT * FROM deleted  ) 
	BEGIN
		SET @OperType = 'D'
	END 
ELSE IF EXISTS ( SELECT * FROM inserted  )
	BEGIN
		SET @OperType = 'I'
	END 

Set @sUser = SUBSTRING(SYSTEM_USER, 1, 128)
Set @sHost = SUBSTRING(HOST_NAME ( ), 1, 128)
 IF @sUser = '' 
	begin
		Set @sUser = @sQuestion 
	end
IF @sHost = ''
	begin
		Set @sHost = @sQuestion 
	end
 IF @OperType = 'I' OR @OperType = 'U'
	BEGIN
 	INSERT INTO movement_item_log
	( 
		 
		dml_type, dml_date, dml_user_name, dml_comp_name, 
		movement_item_id, movement_id, depositor_id, TklLVID
 	)
	SELECT 
		@OperType, CURRENT_TIMESTAMP, isnull(last_modify_user,@sUser), @sHost,
		ins.id, ins.movement_id, ins.depositor_id, ins.TklLVID
    FROM inserted ins
	END
ELSE
	BEGIN
 	INSERT INTO movement_item_log
	( 
		dml_type, dml_date, dml_user_name, dml_comp_name, 
		movement_item_id, movement_id, depositor_id, TklLVID
 	)
	SELECT 
         @OperType, CURRENT_TIMESTAMP, isnull(last_modify_user,@sUser), @sHost,
		ins.id, ins.movement_id, ins.depositor_id, ins.TklLVID
    FROM deleted ins

	END
END
