SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[SP_PL_ReportTC]
	@From		date,
	@Till		date	= NULL,
	@WarehouseName varchar(254) = NULL


as
begin
	
	set nocount on;

	declare @t		T_PL_MainQueryOutput;
	declare @Sql	nvarchar(max);
	declare
	@In			bit		= NULL,
	@ShpID		int		= NULL,
	@OrdID		int		= NULL

	set @Till = isnull(@Till, @From);
	set @Sql = dbo.F_PL_AssembleQuery(1, NULL, 0);
	

	insert into @t
	exec sp_executesql @Sql, N'@From date, @Till date, @In int, @ShpID int, @OrdID int', @From, @Till, @In, @ShpID, @OrdID;

	select KlientName, TransportCompanyName,convert(varchar(10),ShpDate,104) ShpDate, OrdLVCode,ShpDriverFio, SlotTime, ShpSubmissionTime, ShpEndTimeFact,
	case when cast(LateTime as float) < 0  or (cast(LateTime as float) > 0 and  cast(LateTime as float) <=0.20) then 
	cast(0 as float) 
 
	--LateTime
	else LateTime end LateTime
	from (
	select KlientName, TransportCompanyName,convert(varchar(10),ShpDate,104) ShpDate, OrdLVCode,ShpDriverFio, SlotTime, ShpSubmissionTime, ShpEndTimeFact,
	--case when ShpSubmissionTime< dateadd(minute,-20,convert(datetime,convert(varchar,ShpDate,104)+ ' '+cast(SlotTime as varchar),104)) then '0' else
	case when DateDiff(s, convert(datetime,convert(varchar,ShpDate,103)+ ' '+cast(dateadd(minute,20, SlotTime) as varchar),103),ShpSubmissionTime)<0 then '-' else '' end 
	+convert(varchar(5),abs(DateDiff(s, convert(datetime,convert(varchar,ShpDate,103)+ ' '+cast(dateadd(minute,20, SlotTime) as varchar),103),ShpSubmissionTime)/3600))+'.'+
		convert(varchar(5),abs(DateDiff(s, convert(datetime,convert(varchar,ShpDate,103)+ ' '+cast(dateadd(minute,20, SlotTime) as varchar),103),ShpSubmissionTime))%3600/60) 
		--end 
		as LateTime	
	from @t
	where InOut not in ('перем')
	and (WarehouseName = @WarehouseName or @WarehouseName is null)
	) tbl 
	order by cast(LateTime as float) desc--ShpDate, isnull(SlotTime, '23:59:59'), ShpID, OrdLVCode;

end